-# 問題7. ヘッダーにグループ名とユーザー名が表示されるようにしよう
-# 問題8. グループ編集ページへのリンクを設置しよう
.chat
  .chat__c-header
    .chat__c-header__group
      %h1.g-name 
        = @group.name
      %p.u-name
        - @group.users.each do |user|
          = user.name
    .chat__c-header__edit
      = link_to 'edit',class: "button" do
        Edit

  .chat__main
    = render @messages 
    
  -# .chat__main
  -#   .chat__main__name
  -#     -# = message.user.name
  -#   .chat__main__title
  -#   .chat__main__name2
  -#     %p.m-name masa
  -#     %p.date 2020/07/01
  -#   .chat__main__message
  -#     %p.message 今日は夜から雨です

  .chat__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .chat__form__message
        = f.text_field :content, class: 'form__text', placeholder: 'type a message'
        = f.label :image, class: 'form__inputImage' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit' 


-# %input.form__text{"placeholder": "type a message", "type": "text"}
-#         %label.form__inputImage
-#           = icon('far', 'image', class: 'form__icon')
-#           %input.Hidden{type: 'file'}
-#       %input.Form__submit{type: 'submit', value: 'Send'}  
