.side-bar
  .side-bar__s-header
    .side-bar__s-header__list
      .side-bar__s-header__list__name
        = current_user.name
      .side-bar__s-header__list__icon  
        = link_to new_group_path(current_user) do
          = icon('far', 'edit', class: "list__btn--edit") 
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "list__btn--edit")

  .side-bar__navi
    - current_user.groups.each do |group|
      .side-bar__navi__group
        = link_to '#' do
          .side-bar__navi__group__name
            = group.name
          .side-bar__navi__group__message
            テストメッセージです！